<template>
    <div>
        <div class="photos">
            <div v-for="photo in allPhotos" :key="photo.id" v-show="photo" class="photo">
                <h6>{{photo.title}}</h6>
                <p>from: {{photo.name}}</p>
            <!-- <Photo :photo="photo" /> -->
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'Photos',
    computed: { ...mapGetters(['allPhotos']) },
    methods: { ...mapActions(['getAlbum']) },
    created(){
        this.getAlbum()
    }
}
</script>

<style scoped>
.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.photo {
    background: #A63262;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
</style>