<template>
    <div>
        <button @click="goBack" class="back">
            <i class="fas fa-arrow-circle-left"></i>Go Back
        </button>
        <div class="photos">
            <div v-for="photo in allPhotos" :key="photo.id" v-show="photo" class="photo">
                <img v-bind:src="photo.url" v-bind:alt="photo.title" />
                <div class="infos">
                    <h4>Title: {{photo.title}}</h4>
                    <p>From: {{photo.name}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'Photos',
    computed: { ...mapGetters(['allPhotos']) },
    methods: { 
        ...mapActions(['getAlbum']),
        goBack(){
            if (window.history.length > 1) this.$router.go(-1)
        }
    },
    created(){
        if (this.allPhotos.length === 0) {
            this.$router.push('/')
        }
    }
}
</script>

<style scoped>
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0;
}
.photo {
    background: #A63262;
    color: #ffffff;
}
img {
    width: 100%;
}
.infos {
    padding: 1rem;
}
.back {
    padding: 1rem;
    border-radius: 10px;
    background: #4498DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin: 1rem;
}
.back i {
    margin-right: 10px;
}
</style>