<template>
  <div class="home">
      <h3>Welcome to our Albums</h3>
      <Albums />
  </div>
</template>

<script>
import Albums from '../albums/Albums'

export default {
name: 'Home',
components: { Albums }
}
</script>

<style scoped>
.home {
    padding: 0 2rem;
}
</style>