<template>
  <div>
        <h5>To see photos, double click on an album</h5>
        <div class="albums">
            <div v-for="(album, index) in allAlbums" :key="index" class="album">
                <Album :album="album"/>
            </div>
        </div>
  </div>
</template>

<script>
import Album from './Album'
import { mapActions, mapGetters } from 'vuex'
export default {
name: 'Albums',
components: { Album },
computed: { ...mapGetters(['allAlbums']) },
methods: { ...mapActions(['getPhotos', 'getAlbum']) },
created(){
    this.getPhotos()
}
}
</script>

<style scoped>
.albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.album {
    background: #06B2DC;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}
</style>