<template>
  <div>
    <h5>{{album[0].name}}</h5>
    <router-link to="/photos">
      <button @click="onClick(album)" class="link">See photos</button>
    </router-link>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
name: 'Album',
props: {
  album: Array
},
methods: {
  ...mapActions(['getPhotos', 'getAlbum']),
  onClick(album) {
    this.getAlbum(album);
  }
}
}
</script>

<style scoped>
.link {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #06B2DC;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
</style>